cred/
cred/**
venv/
venv/**
.idea/
.idea/**
vast-artifacts/*
local-vast-artifacts/*
__pycache__/
__pycache__/**
.git/**
*.egginfo/
*.egginfo/**
dist/
dist/**
build/
build/**
*.egg-info/
*.egg-info/**
scratch/
scratch/**

